# Experiment outputs are written to the working directory by the scripts
EEGItNet_HGD_Output/
EEGItNet_HGD_CSP_Output/
EEGItNet_HGD_MI_Output/
EEGItNet_HGD_ReliefF_Output/
EEGITNet_HGD_Saliency_Output/
